<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="url" value="http://web.avl.indiana.edu/iQ-Wall/CIB-Wall/Test/test7.php"/>
      <add key="refreshDelayInSeconds" value="30"/>
    </appSettings>
</configuration>